<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    
  </startup>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
  </appSettings>
  <connectionStrings>
    <add name="EStore-Client" connectionString="Data Source=LENOVO-5PRO;Initial Catalog=EStore;Persist Security Info=True;User ID=sa;Password=hejhej"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>